* {
    box-sizing: border-box;
}

h1,
h2,
ul,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
}

input:focus-visible {
    outline: none;
}

.body {
    background-color: #eff1f0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
}

.banner {
    background-color: #43291c;
    color: #fcf2bf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

}

.banner-title {
    font-size: 1em;
}

.banner-image {
    max-height: 50px;
}

.main {
    padding: 80px 30px 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.card {
    background-color: #eee2d6;
    box-shadow: 0px 3px 10px #999;
    border-radius: 5px;
    padding: 15px;
}

.card-title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    color: #95683f;
    margin-bottom: 30px;
}

.card-li {
    display: flex;
    color: #4d523e;
    border-bottom: 2px solid #da935180;
    padding: 20px 10px;
}

.card-li:last-child {
    border-bottom: none;
}

.card-quantity {
    margin-right: 20px;
}

.card-item-main {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-item-extra-li {
    color: #95683f
}

.card-price {
    font-weight: bold;
    margin-left: auto;
    margin-right: 20px;
}

.card-name {
    margin-bottom: 30px;
}

.card-input-container {
    border: 1px solid #95683f;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
}

.card-input-label {
    position: absolute;
    top: -9px;
    left: 26px;
    font-size: 0.7em;
    color: #95683f;
    background-color: #eee2d6;
    padding: 0 5px;
}

.card-input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 10px 30px;
}

.ccv-input {
    max-width: 150px;
}

.payment-container {
    padding: 0 50px;

}

.payment {
    margin: 150px auto 0;
    max-width: 500px;
    color: #4d523e;
}

.payment-line {
    display: flex;
    margin-bottom: 10px;
}

.payment-value {
    margin-left: auto;
}

.payment-line-total {
    font-weight: bold;
    padding-top: 10px;
}

.payment-button {
    margin-top: 20px;
    color: #4d523e;
    background-color: #dfb994;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 50px;
}

.payment-button:hover {
    cursor: pointer;
}

.payment-button:active {
    transform: scale(90%);
    background-color:#dfc6af;
}