* {
    box-sizing: border-box;
}

h1, h2, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.body {
    background-color: #eff1f0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
}

.banner {
    background-color: #43291c;
    color: #fcf2bf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

}

.banner-title {
    font-size: 1em;
}

.banner-image {
    max-height: 50px;
}

.main {
    padding: 80px 30px 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.card {
    background-color: #eee2d6;
    box-shadow: 0px 3px 10px #999;
    border-radius: 5px;
    padding: 15px;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
    color: #95683f;
}